<div class="reset-password-page d-flex justify-content-center align-items-center">
    <div class="reset-password-container shadow p-4">
        <div class="text-center mb-3">
            <h1 class="welcome-title">Restablecer contraseña</h1>
            <p class="welcome-subtitle">Por favor, ingresa una nueva contraseña para tu cuenta.</p>
        </div>

        <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">

            <!-- Nueva contraseña -->
            <mat-form-field class="w-100 mb-2">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" required />
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched" 
                class="invalid-feedback d-block">
                {{ getErrorMessage('newPassword') }}
            </div>

            <!-- Confirmar nueva contraseña -->
            <mat-form-field class="w-100 mb-2">
                <mat-label>Confirmar nueva contraseña</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" required />
            </mat-form-field>
            <div *ngIf="resetForm.hasError('passwordsMismatch') && resetForm.get('confirmPassword')?.dirty" 
                class="invalid-feedback d-block">
                Las contraseñas no coinciden.
            </div>

            <!-- Botón restablecer -->
            <button mat-raised-button type="submit" class="reset-button w-100 mb-2" [disabled]="resetForm.invalid">
                Restablecer contraseña
            </button>
        </form>

        <!-- Mensajes de éxito y error -->
        <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    </div>
</div>