
<footer class="footer">
    <div class="footer-container">
      <div class="footer-section mt-4">
        <h5>Gestión de Eventos</h5>
        <p>Una forma fácil de gestionar todos tus eventos.</p>
      </div>
      <div class="footer-section">
        <h6>Enlaces rápidos</h6>
        <ul>
          <li><a href="/home">Eventos</a></li>
          <li><a href="/participaciones">Inscripciones</a></li>
          <li><a href="/certificados">Certificados</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h6>Contacto</h6>
        <p [textContent]="'Email: soporte@eventos.com'"></p>
        <p>Tel: +54 9 11 1234-5678</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Gestión de Eventos. Todos los derechos reservados.</p>
    </div>
  </footer>